<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Trial Subscription Started</title>
</head>
<body>
    <h2>Welcome to Your Trial Period!</h2>
    <p>Dear {{adminName}},</p>
    
    <p>Your trial subscription for {{organizationName}} has been activated successfully.</p>
    
    <p>Trial Details:</p>
    <ul>
        <li>Plan: {{planName}}</li>
        <li>Trial Ends: {{trialEndsAt}}</li>
        <li>Member Limit: {{memberLimit}} users</li>
    </ul>
    
    <p>During your trial period, you'll have access to all features of the {{planName}} plan. Make sure to:</p>
    <ul>
        <li>Invite team members (up to {{memberLimit}} users)</li>
        <li>Explore all available features</li>
        <li>Set up your organization settings</li>
    </ul>

    <p>We'll remind you before your trial expires so you can choose a subscription plan to continue using our services.</p>
    
    <p>If you have any questions or need assistance, our support team is here to help!</p>

    <p>Best regards,<br>
    Your Team</p>
</body>
</html> 